.questionTitle{
    background:  black;
    color: white;
}
.questionBody{
    background: dimgray;
}
.answerTitle{
    background: darkgray;
    color:
}
.answerBody{
     background:grey;
}
.comment{
    display: inline-block;
    text-align: center;
    vertical-align: 20;
    border: 1 solid black
}
.page-header{
    text-align: center;
    background: lightgrey;
    /*border: 1px black solid;*/
    margin-top: 20px;
}
.container{
    /*border: 1px solid black;*/
}
